body {
  margin: 1em;
}
.card {
  margin-bottom: 1em;
}
.thumbnail {
  margin-bottom: 2em;
}
.list-group {
  margin-bottom: 2em;
}
.disable-hover {
  pointer-events: none;
}
.link-item {
  list-style-type: none;
  padding: 17px 15px;
  display: block;
  border-radius: 5px;
  color: #8d8bdb !important;
}
.link-item:hover {
  border: 1px solid #ddd;
  background-color: #f5f5f55b;
}

html.can-touch .link-item:hover {
  /* disable hover effect when input is touch */
  background-color: rgba(255, 255, 255, 0.336);
}

html.can-touch .link-item:active {
  /* disable hover effect when input is touch */
  background-color: #f5f5f54d;
}

.fa {
  font-size: 16px;
  margin-left: 5px;
  margin-right: 10px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #141314;
    color: white;
  }

  .card-header {
    background-color: #2f2f2f;
  }
  .card-body {
    background-color: #1f1f1f;
  }
  .jumbotron {
    background-color: rgba(54, 29, 83, 0.329);
    padding: 1%;
    text-align: center;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .list-group-item {
    background-color: rgba(54, 29, 83, 0.329);
    /* border-color: #5b3e8a; */
  }

  html.can-touch .link-item:hover {
    /* disable hover effect when input is touch */
    background-color: #1f1f1f;
  }

  html.can-touch .link-item:active {
    /* disable hover effect when input is touch */
    background-color: #1f1f1f;
  }
}
